# OSX
.DS_Store

# IDE
.idea
.vscode/

# node.js
node_modules/
package-lock.json
npm-debug.log
dist/

# custom
*.log
*.tmp
*concept.*
*.env*
/screenshots
.metadata
/re-runs
rerun.sh

# We don't want to push any builds to github
/builds

# We don't want to push any evidence artifacts to github
/evidence.artifacts 
